body {
  background-image: url(background_photo.jpg);
  background-size: cover;
  text-align: center;
}

h1 {
  border: 10px solid rgb(248, 96, 122);
  font-style: italic;
  font-family: "Arial Narrow Bold";
}
