body {
  text-align: center;
}

h1 {
  color: black;
}

.box {
  background-color: #72a5e7;
  width: 500px;
  height: 300px;
  margin: 20px auto;
  border-radius: 10px;
}

#new_items {
  background-color: white;
  border: 1px solid rgb(7, 7, 7);
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
}

#add_items {
  background-color: rgb(58, 63, 204);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
}

#add_items:hover {
  background-color: #6f80c6;
}

#display_items {
  list-style-type: square;
  list-style-position: inside;
  padding: 0;
}

#display_items li {
  margin-bottom: 5px;
  color: rgb(3, 3, 3);
}
